
<!-- Portfolio -->
<div id="portfolio" class="our-portfolio">
    <div class="container">
        <h2 class="text-center">Our Portfolio</h2>
        <div class=" text-center mt-5">
            <ul class="list-unstyled row">
                <li class="col-md active">All</li>
                <li class="col-md">App</li>
                <li class="col-md">Card</li>
                <li class="col-md">Web</li>
            </ul>
        </div>
        <!-- image-section-one-->
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/images/portfolio/app1.jpg" class="img-thumbnail w-100" alt="...">
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/portfolio/web3.jpg" class=" img-thumbnail w-100" alt="...">
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/portfolio/app2.jpg" class="img-thumbnail w-100" alt="...">
            </div>
        </div>
              <!-- image-section-two-->
              <div class="row">
                <div class="col-md-4">
                    <img src="../../../assets/images/portfolio/web2.jpg" class="img-thumbnail w-100 image-one" alt="...">
                </div>
                <div class="col-md-4">
                    <img src="../../../assets/images/portfolio/card2.jpg" class="img-thumbnail w-100 image-two" alt="...">
                </div>
                <div class="col-md-4">
                    <img src="../../../assets/images/portfolio/app3.jpg" class="img-thumbnail w-100 image-three" alt="...">
                </div>
            </div>
                  <!-- image-section-three-->
                  <div class="row">
                    <div class="col-md-4">
                        <img src="../../../assets/images/portfolio/web1.jpg" class="img-thumbnail w-100 image-four" alt="...">
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/images/portfolio/card3.jpg" class="img-thumbnail w-100 image-five" alt="...">
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/images/portfolio/card1.jpg" class="img-thumbnail w-100 image-six" alt="...">
                    </div>
                </div>
</div>
</div>