
<!-- Clients -->
<div id="client" class="our-client">
    <div class="container">
                <!-- Section one -->
                <div class="row mt-5">
                    <div class="col-md-12 text-center mt-5">
                      <h1>Our Clients</h1>
                      <p class="mt-3">Lorem ipsum, or lipsum as it is sometimes known,<br> is dummy text used in laying out print,
                        graphic or web designs.</p>
                    </div>
                  </div>
                         <!-- Section two -->
          <div class="row mt-5 mb-5">
       
            <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">
                        <img src="../../../assets/images/clients/client-1.png" class=" w-50" alt="...">
                    </th>
                    <th scope="col"><img src="../../../assets/images/clients/client-2.png" class=" w-50" alt="..."></th>
                    <th scope="col"><img src="../../../assets/images/clients/client-3.png" class=" w-50" alt="..."></th>
                    <th scope="col"><img src="../../../assets/images/clients/client-4.png" class=" w-50" alt="..."></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><img src="../../../assets/images/clients/client-5.png" class=" w-50" alt="..."></th>
                    <td><img src="../../../assets/images/clients/client-6.png" class=" w-50" alt="..."></td>
                    <td><img src="../../../assets/images/clients/client-7.png" class=" w-50" alt="..."></td>
                    <td><img src="../../../assets/images/clients/client-8.png" class=" w-50" alt="..."></td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
        </div>