
<!-- Team -->
<div id="team" class="team-us">
    <div class="container">
           <!-- Section one -->
           <div class="row mt-5">
            <div class="col-md-12 text-center mt-5">
              <h1>Team</h1>
              <p class="mt-3">Lorem ipsum, or lipsum as it is sometimes known,<br> is dummy text used in laying out print,
                graphic or web designs.</p>
            </div>
          </div>
           <!-- Section two -->
          <div class="row mt-5 mb-5">
              <div class="col-md-3">
            
                    <img src="../../../assets/images/team-1.jpg" class="rounded-circle w-100 mb-3" alt="...">
                
              </div>
              <div class="col-md-3">
            
                <img src="../../../assets/images/team-2.jpg" class="rounded-circle w-100 mb-3" alt="...">
            
          </div>
          <div class="col-md-3">
            
            <img src="../../../assets/images/team-3.jpg" class="rounded-circle w-100 mb-3" alt="...">
        
      </div>
      <div class="col-md-3">
            
        <img src="../../../assets/images/team-4.jpg" class="rounded-circle w-100 mb-3" alt="...">
    
  </div>

          </div>
        </div>
        </div>
