  <!-- footer section-->
<footer id="footer" class="footer-section ">
    <div class="container ">
        <div class="row mt-5">
            <div class="col-md-3 mt-5">
                <h1>Welcome</h1>
                <p class="mt-3">Lorem ipsum, or lipsum as it is sometimes known,is dummy text used in laying out print,
                    graphic or web designs.</p>
                    <p class="">Lorem ipsum, or lipsum as it is sometimes known,is dummy text used in laying out print,
                        graphic or web designs.</p>
            </div>
            <div class="col-md-3 mt-5">
                    <div class="footer-content mt-3">
                        <ul class="list-unstyled">
                            <li> <h6>USEFUL LINKS</h6> </li>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Terms of Services</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
           
            </div>
            <div class="col-md-3 mt-5">
                <div class="footer-content mt-3">
                    <ul class="list-unstyled">
                        <li> <h6>CONTACT US</h6> </li>
                        <li>
                            <a href="#">A 108 Adam Street</a>
                        </li>
                        <li>
                            <a href="#">New York, NY 505322</a>
                        </li>
                        <li>
                            <a href="#">United States</a>
                        </li>
                        <li>
                            <a href="#">Phone: +1 5677 4556</a>
                        </li>
                        <li>
                            <a href="#">Email:info@example.com</a>
                        </li>
                    </ul>
                    <div class="row">
                        <i class="fa fa-facebook ml-3" aria-hidden="true"></i>
                        <i class="fa fa-twitter ml-2" aria-hidden="true"></i>
                        <i class="fa fa-instagram ml-2" aria-hidden="true"></i>
                        <i class="fa fa-google-plus ml-2" aria-hidden="true"></i>
                        <i class="fa fa-linkedin ml-2" aria-hidden="true"></i>
                       </div>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <div class="footer-content mt-3">
                <h6>Our News Letter</h6>
                <p class="mt-3">Lorem ipsum, or lipsum as it is sometimes known,is dummy text used in laying out print,
                    graphic or web designs.</p>
                    <p class="">Lorem ipsum, or lipsum as it is sometimes known,is dummy text used in laying out print,
                        graphic or web designs.</p>
                        <div class="content">
                        <div class="input-group">
                             <input type="email" class="form-control">
                             <span class="input-group-btn">
                             <button class="btn" type="submit">Subscribe</button>
                             </span>
                              </div>
                        </div>
                        </div>
            </div>
        </div>

        </div>
        </footer>
        <div>
            <div class="footer-text text-center pt-3 pb-3">
                <h6 class=""> <i class="fa fa-copyright" aria-hidden="true"></i> Copyright.All Rights Reserved </h6>
            </div>
        </div>
     
