<!-- navBar-->
<div class="main-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Aphrie Task</a>
        <button class="navbar-toggler" type="button" (click)="navbarToggle()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home']">{{'Home' | translate }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']">{{'About Us' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/portfolio']">{{'Portfolio' | translate }}</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/team']">{{'Team' | translate }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact Us']">{{'Contact Us' | translate }}</a>
              </li>
              <li class="nav-item">
                <a (click)="translate.use('en')" class="nav-link" [routerLink]="['/contact Us']">En</a>
              </li>
              <li class="nav-item">
                <a (click)="translate.use('ar')" class="nav-link" [routerLink]="['/contact Us']">Ar</a>
              </li>
        
          </ul>
        </div>
      </div>
      </nav>
    </div>
    
    
    
