#test{
    background-color: #ecf5ff;
    padding-top:20px;
    padding-bottom: 30px;

}
h2{
    margin-top: 20px;
    color: #283d50;
}
h4{
    color: #414345;
}
h6{
    color: #a8aaac;
}
p{
    color: #5d5f60;
    font-style: italic;
}