h1{
    color:#283d50;
}
p{
    color:#444444;
    font-weight: 100;
    font-size: 14px;
}
i{
    color:#427bff;
   
}
.icon-one{
   border: 1px solid #427bff;
    border-radius: 50%;
    line-height: 12px;
    padding: 20px;
}