
    	<!-- Banner -->
        <div id="banner" class="text-center bg-image-full d-table w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="align-middle d-table-cell banner-text px-1">
                            <h1 class="text-white text-left">We Provide <br/> <span>Solutions</span></h1>
                            <h1 class="text-white">for your business!</h1>
                            <a href="#" class="btn custom-button mr-5 mt-5" style="width: 130px;">Get Started</a>
                            <a href="#" class="btn custom-button-two mr-5 mt-5" style="width: 130px;">Our Services</a>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
<img src="../../../assets/images/intro-img.svg" class="rounded w-100 mt-5" alt="...">
                    </div>
                </div>
            </div>
  
        </div>