
<!-- testimonials -->
<div id="clients" class="testimonials mt-5">

    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="left-side">

                    <div class="mr-5" style="display: inline-block;">
                        <img src="../../../assets/images/testimonial-1.jpg"
                            class="myimg" />
                    </div>

                    <div>
                        <p class="quote">
                            "Ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard
                            McClintock, a Latin professor"
                        </p>
                        <h5>Jhon Richards</h5>
                        <p>Full Stack developer</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="left-side">

                    <div class="mr-5" style="display: inline-block;">
                        <img src="../../../assets/images/testimonial-2.jpg"
                            class="myimg" />
                    </div>

                    <div>
                        <p class="quote">
                            "Ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard
                            McClintock, a Latin professor"
                        </p>
                        <h5>Jhon Richards</h5>
                        <p>Full Stack developer</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="left-side">

                    <div class="mr-5" style="display: inline-block;">
                        <img src="../../../assets/images/testimonial-3.jpg"
                            class="myimg" />
                    </div>

                    <div>
                        <p class="quote">
                            "Ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard
                            McClintock, a Latin professor"
                        </p>
                        <h5>Jhon Richards</h5>
                        <p>Full Stack developer</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="left-side">

                    <div class="mr-5" style="display: inline-block;">
                        <img src="../../../assets/images/testimonial-4.jpg"
                            class="myimg" />
                    </div>

                    <div>
                        <p class="quote">
                            "Ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from 45 BC, making it over 2000 years old.
                            Richard
                            McClintock, a Latin professor"
                        </p>
                        <h5>Jhon Richards</h5>
                        <p>Full Stack developer</p>
                    </div>
                </div>
            </div>
        </div>
   
     
    </div>

</div>



